@tailwind base;
@tailwind components;
@tailwind utilities;
@layer components {
  .titulo-1 {
    @apply text-2xl  text-white;
  }
  .titulo-2 {
    @apply text-4xl  text-white;
  }
  .titulo-3 {
    @apply text-6xl  text-white;
  }
  .icon-home-nav {
    @apply flex-none aspect-auto blur-[1px] opacity-60 hover:blur-none hover:opacity-90 hover:px-0 cursor-pointer;
  }
  .icon-home-tecs {
    /* Icones das tecologias que uso */
    @apply cursor-crosshair opacity-40 m-[5px] mr-0 hover:opacity-100;
  }
}

/* body {
  background-color: black !important;
} */

#tsparticles {
  opacity: 0.5;
}

#img-home-1 {
  background-image: url("/bg-home.jpg");
}
#img-home-2 {
  background-image: url("/bg-home2.jpg");
}

abbr[title] {
  text-decoration: unset;
}
