@tailwind base;

/* SCROLLBAR */
/* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: var(--secondary) var(--primary);
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 6px;
}

*::-webkit-scrollbar-track {
  background: var(--primary);
  border-radius: 5px;
}

*::-webkit-scrollbar-thumb {
  background-color: var(--secondary);
  border-radius: 14px;
  border: 1px solid var(--primary);
}

@tailwind components;
@tailwind utilities;

@layer components {
  .txt-corpo {
    @apply text-corpo text-white;
  }
  .titulo-0 {
    @apply text-titulo0 lg:text-titulo1  text-white;
  }
  .titulo-1 {
    @apply text-titulo1 lg:text-titulo1  text-white;
  }
  .titulo-2 {
    @apply text-titulo2 text-white;
  }
  .titulo-3 {
    @apply text-titulo3 text-white tracking-normal;
  }

  .icon-home-nav {
    @apply flex-none aspect-auto blur-[1px] opacity-60 hover:blur-none hover:opacity-90 hover:px-0 cursor-pointer;
  }
  .icon-home-tecs {
    @apply opacity-30 hover:opacity-90
    mt-3 md:mt-3 lg:mt-4
    justify-center 
    text-white text-[9px] text-center;
  }
  .icon-home-svg {
    @apply w-full
    h-[24px] md:h-[25px] lg:md:h-[26px]
    pb-1 md:pb-0.5 lg:pb-0.5
    aspect-auto;
  }

  .section-page-1 {
    @apply static min-h-screen max-h-full top-0
    pt-14 lg:pt-24 xl:pt-32
    pl-[5.2rem] sm:pl-[6.5rem] md:pl-[8rem] lg:pl-[8rem] xl:pl-[12rem]
    pr-8;
  }
  .section-pages {
    @apply static min-h-screen max-h-full top-0
    pt-12 lg:pt-14 xl:pt-20
    pb-10 lg:pb-20 xl:pb-28
    pl-[5.2rem] sm:pl-[6.5rem] lg:pl-[8rem] xl:pl-[12rem]
    pr-8;
  }
  .hidden {
    @apply opacity-20 transition-opacity duration-1000 ease-out;
  }
  .div-navigation {
    @apply fixed z-40 w-full h-[50px] top-0 bg-transparent py-2 pr-3 sm:pr-6;
  }
}

html {
}

body {
  background-color: #0b192e !important;
}
p {
  margin-top: 15px;
}

#tsparticles {
  opacity: 0.5;
}
#img-home-1 {
  background-image: url("/bg-home.jpg");
}
#img-home-2 {
  background-image: url("/bg-home2.jpg");
}
